<!DOCTYPE html>
<html lang="en">
<!-- Include Head -->
<%- include('../partials/head')  %>
<!-- Include Head -->
<body>
   	 <!-- Header -->
	<%- include('../partials/header')  %>
	<!-- /Header -->


    <main>
        <!-- Locals es un objeto literal que siempre existe en todas las vistas. oneError es cada un0 de las propiedas del objeto literal errors-->
        
        <form action="/users/register" method="POST" enctype="multipart/form-data"> <!--enctype solo en caso de que tengamos imagenes-->
            <div class="form-control"> 
                <label for=""><h4>Nombre y Apellido</h4></label>
                <input 
                type="text" 
                name="fullname" 
                placeholder="Nombre y apellido" 
                style="font-style:italic"
                value="<%= locals.oldData ? oldData.fullname : null %>"
                >
                <span style="color: red; font-size: 10px; font-style:italic">
                    <% if (locals.errors && errors.fullname) { %>  
                        <%= errors.fullname.msg %> 
                    <% } %>
                </span>
            </div>

            <div class="form-control"> 
                <label for=""><h4>E-mail</h4></label>
                <input 
                type="text" 
                name="email" 
                placeholder="E-mail" 
                style="font-style:italic"
                value="<%= locals.oldData ? oldData.email : null %>"
                >
                <span style="color: red; font-size: 10px; font-style:italic">
                    <% if (locals.errors && errors.email) { %>  
                        <%= errors.email.msg %> 
                    <% } %>
                </span>
            </div>

            <div class="form-control"> 
                <label for=""><h4>Fecha de nacimiento</h4></label>
                <input type="date" name="birthday" style="font-style:italic">
            </div>

            <div class="form-control"> 
                <label for=""><h4>Perfil de usuario</h4></label>
                    <select name="perfil">
                        <option disabled selected class="seleccion-opcion">Seleccioná una opción</option>
                        <option value="comprador">Comprador</option>
                        <option value="vendedor">Vendedor</option>
                    </select>
            </div>

            <div class="form-control"> 
                <p><h4>Cateogorías de interes</h4></p>
                
                <div>                
                    <input class="checkbox" type="checkbox" name="interes" value="electro" id="electro">
                    <label class="opciones" for="electro" >Electro</label>
                </div>

                <div>     
                    <input type="checkbox" name="interes" value="moda" id="moda">
                    <label class="opciones" for="moda">Moda</label>
                </div>

                <div> 
                    <input type="checkbox" name="interes" value="hogar" id="hogar">
                    <label class="opciones" for="hogar">Hogar</label>
                </div>

                <div> 
                    <input type="checkbox" name="interes" value="jugueteria" id="jugueteria">
                    <label class="opciones" for="jugueteria">Jugueteria</label>
                </div>

                <div> 
                    <input type="checkbox" name="interes" value="healthy" id="healthy">
                    <label class="opciones" for="healthy">Vida sana</label>
                </div>
                
                            
            </div>

            <div class="form-control"> 
                <label for=""><h4>Avatar</h4></label>
                <input type="file" name="avatar">
                <span style="color: red; font-size: 10px; font-style:italic">
                    <% if (locals.errors && errors.avatar) { %>  
                        <%= errors.avatar.msg %> 
                    <% } %>
                </span>
            </div>

            <div class="form-control"> 
                <label for=""><h4>Contraseña</h4></label>
                <input 
                type="password" 
                name="password" 
                placeholder="Contraseña" 
                style="font-style:italic"
                value="<%= locals.oldData ? oldData.password : null %>"
                >
            </div>
            <span style="color: red; font-size: 10px; font-style:italic">
                <% if (locals.errors && errors.password) { %>  
                    <%= errors.password.msg %> 
                <% } %>
            </span>

            <div class="form-control"> 
                <label for=""><h4>Repetir contraseña</h4></label>
                <input 
                type="password" 
                name="repassword" 
                placeholder="Repetir contraseña" 
                style= "font-style:italic"
                value="<%= locals.oldData ? oldData.repassword : null %>"
                >
                <span style="color: red; font-size: 10px; font-style:italic">
                   <% if (locals.errors && errors.repassword) { %>  
                        <%= errors.repassword.msg %> 
                    <% } %>
                </span>
            </div>

                   
            <button type="submit" class="enviar">Registrate</button>
            <button type="reset" class="borrar">Borrar</button>

        
        </form>




    </main>








    <!-- footer -->
    <%- include('../partials/footer')  %>

    <!-- /footer -->
    
</body>
</html>